# data and secrets
data
.env

# environment
pyenv
__pycache__
.ruff_cache

# airflow
logs

# terraform
*.tfvars
.terraform.*
**/.terraform/providers
terraform.tfstate*

# test
test.ipynb
test.py
.test
.test.sh